@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables";

.accountBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: center;
  }
}
.accountBarButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
