.splatter {
  position: absolute;
  z-index: 0;
  object-fit: contain;
  object-position: top;
  min-width: 0;
  max-width: 50%;
  opacity: 0.5;
}

.sacrifice_button {
  font-family: Never Settle;
  color: black;
}